# Costa Rica Poverty Prediction

In [1]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp310-cp310-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.22.4 (from pandas)
  Using cached numpy-1.26.4-cp310-cp310-win_amd64.whl.metadata (61 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\notka\documents\github\ml-project\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\notka\documents\github\ml-project\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp310-cp310-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.6 MB 991.0 kB/s eta 0:00:12
    --------------------------------------- 0.3/11.6 MB 2.6 MB/s eta 0:00:05
   - -------------------------------------- 0.6/11.6 MB 3.9 MB/s eta 0:00:03
   -- ------------------------------------- 0.8/11.6 MB 4.1 MB/s eta 0:00:03
   --- ------------------------------------ 1.1/11.6 MB 4.8 MB/s eta 0:00:03
   ----- ---------------------------------- 1.6/11.6 MB 5.6 MB/s eta 0:00:02
   ------ --------------------------------- 1.9/11.6 MB 5.5 MB/s eta 0:00:02
   -------- ------------------------------- 2.4/11.6 MB 6.3 MB/s eta 0:00:02
   -------- ------------------------------- 2.4/11.6 MB 5.5 MB/s eta 0:00:02
   --------- ------------------------------ 2.9/11.6 MB 5.9 MB/s eta 0:00:02
   ------------ --------------------------- 3.7/11.6 MB 6.9 MB/s eta 0:00:02
   -------------- ------------------------- 4.1/11.6 MB 6.9 MB/s eta 0:00:02
   -------------- ------------------------- 4.3/11.6 MB 6.9 MB/s eta 0:00:02
   ---------------- ----------------------- 4.9/11.6 MB 7.3 MB/s eta 0:00:01
   ------------------ --------------------- 5.5/11.6 MB 7.3 MB/s eta 0:00:01
   -------------------- ------------------- 6.0/11.6 MB 7.7 MB/s eta 0:00:01
   --------------------- ------------------ 6.4/11.6 MB 7.7 MB/s eta 0:00:01
   ----------------------- ---------------- 6.9/11.6 MB 8.0 MB/s eta 0:00:01
   ------------------------- -------------- 7.4/11.6 MB 8.2 MB/s eta 0:00:01
   --------------------------- ------------ 7.9/11.6 MB 8.3 MB/s eta 0:00:01
   ---------------------------- ----------- 8.4/11.6 MB 8.2 MB/s eta 0:00:01
   ----------------------------- ---------- 8.7/11.6 MB 8.3 MB/s eta 0:00:01
   ------------------------------- -------- 9.1/11.6 MB 8.2 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 8.5 MB/s eta 0:00:01
   --------------------------------- ------ 9.9/11.6 MB 8.3 MB/s eta 0:00:01
   ----------------------------------- ---- 10.4/11.6 MB 9.0 MB/s eta 0:00:01
   ------------------------------------- -- 10.8/11.6 MB 9.1 MB/s eta 0:00:01
   -------------------------------------- - 11.3/11.6 MB 9.5 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 9.2 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 9.2 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 9.2 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 9.2 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 9.2 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 7.4 MB/s eta 0:00:00
Using cached numpy-1.26.4-cp310-cp310-win_amd64.whl (15.8 MB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('train.csv')
df

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
0,ID_279628684,190000.0,0,3,0,1,1,0,NaN,0,...,100,1849,1,100,0,1.000000,0.0000,100.0000,1849,4
1,ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,0,...,144,4489,1,144,0,1.000000,64.0000,144.0000,4489,4
2,ID_68de51c94,NaN,0,8,0,1,1,0,NaN,0,...,121,8464,1,0,0,0.250000,64.0000,121.0000,8464,4
3,ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,0,...,81,289,16,121,4,1.777778,1.0000,121.0000,289,4
4,ID_d56d6f5f5,180000.0,0,5,0,1,1,1,1.0,0,...,121,1369,16,121,4,1.777778,1.0000,121.0000,1369,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9552,ID_d45ae367d,80000.0,0,6,0,1,1,0,NaN,0,...,81,2116,25,81,1,1.562500,0.0625,68.0625,2116,2
9553,ID_c94744e07,80000.0,0,6,0,1,1,0,NaN,0,...,0,4,25,81,1,1.562500,0.0625,68.0625,4,2
9554,ID_85fc658f8,80000.0,0,6,0,1,1,0,NaN,0,...,25,2500,25,81,1,1.562500,0.0625,68.0625,2500,2
9555,ID_ced540c61,80000.0,0,6,0,1,1,0,NaN,0,...,121,676,25,81,1,1.562500,0.0625,68.0625,676,2
9556,ID_a38c64491,80000.0,0,6,0,1,1,0,NaN,0,...,64,441,25,81,1,1.562500,0.0625,68.0625,441,2

In [22]:
cols = df.columns[73:].tolist()

In [31]:
summary = df.describe()
summary.T

,count,mean,std,min,25%,50%,75%,max
v2a1,2697.0,165231.606971,150457.133301,0.00,80000.000000,130000.000000,200000.000000,2353477.0
hacdor,9557.0,0.038087,0.191417,0.00,0.000000,0.000000,0.000000,1.0
rooms,9557.0,4.955530,1.468381,1.00,4.000000,5.000000,6.000000,11.0
hacapo,9557.0,0.023648,0.151957,0.00,0.000000,0.000000,0.000000,1.0
v14a,9557.0,0.994768,0.072145,0.00,1.000000,1.000000,1.000000,1.0
...,...,...,...,...,...,...,...,...
SQBovercrowding,9557.0,3.249485,4.129547,0.04,1.000000,2.250000,4.000000,36.0
SQBdependency,9557.0,3.900409,12.511831,0.00,0.111111,0.444444,1.777778,64.0
SQBmeaned,9552.0,102.588867,93.516890,0.00,36.000000,81.000000,134.560010,1369.0
agesq,9557.0,1643.774302,1741.197050,0.00,289.000000,961.000000,2601.000000,9409.0
Target,9557.0,3.302292,1.009565,1.00,3.000000,4.000000,4.000000,4.0